/* line 3, ../sass/badgeland_demo.scss */
#breadcrumb {
  display: none;
}

/* line 5, ../sass/badgeland_demo.scss */
#header {
  background: url("../images/gray-background.png");
}
/* line 7, ../sass/badgeland_demo.scss */
#header #name-and-slogan {
  margin: 0 0 30px 0;
}
/* line 9, ../sass/badgeland_demo.scss */
#header #name-and-slogan a {
  color: #FFF;
  text-shadow: #333 2px 2px 2px;
}
/* line 15, ../sass/badgeland_demo.scss */
#header #secondary-menu a {
  color: #fff;
}

/* line 24, ../sass/badgeland_demo.scss */
#main-menu-links a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 29, ../sass/badgeland_demo.scss */
h2 {
  font-family: 'WalkwaySemiBoldRegular';
}

/* line 34, ../sass/badgeland_demo.scss */
#block-block-1 .content {
  border-bottom: 1px solid #000;
  border-left: 1px groove #000;
}
/* line 37, ../sass/badgeland_demo.scss */
#block-block-1 .content ul {
  margin: 1em 0.5em;
  padding: 0;
}
/* line 40, ../sass/badgeland_demo.scss */
#block-block-1 .content ul li {
  display: block;
  overflow: hidden;
  margin: 0 0.5em;
  font-size: 1.2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1d265c;
}
/* line 47, ../sass/badgeland_demo.scss */
#block-block-1 .content ul li a {
  padding: 1em;
  -webkit-transition: linear-gradient 0.8s;
  -moz-transition: linear-gradient 0.8s;
  -ms-transition: linear-gradient 0.8s;
  -o-transition: linear-gradient 0.8s;
  transition: linear-gradient 0.8s;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(30%, #dddddd));
  background-image: -webkit-linear-gradient(left, #ffffff, #dddddd 30%);
  background-image: -moz-linear-gradient(left, #ffffff, #dddddd 30%);
  background-image: -o-linear-gradient(left, #ffffff, #dddddd 30%);
  background-image: -ms-linear-gradient(left, #ffffff, #dddddd 30%);
  background-image: linear-gradient(left, #ffffff, #dddddd 30%);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  text-transform: capitalize;
  text-decoration: none;
  text-shadow: 1px 1px #000;
  line-height: 3.5;
  color: #F0AD4E;
}
/* line 59, ../sass/badgeland_demo.scss */
#block-block-1 .content ul li a:hover {
  background-color: #b35c00;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(30%, #eeeeee));
  background-image: -webkit-linear-gradient(left, #ffffff, #eeeeee 30%);
  background-image: -moz-linear-gradient(left, #ffffff, #eeeeee 30%);
  background-image: -o-linear-gradient(left, #ffffff, #eeeeee 30%);
  background-image: -ms-linear-gradient(left, #ffffff, #eeeeee 30%);
  background-image: linear-gradient(left, #ffffff, #eeeeee 30%);
}

/* line 70, ../sass/badgeland_demo.scss */
#block-achievements-achievements-leaderboard,
#block-user-online,
#block-comment-recent {
  margin: 20px 0.5%;
  float: left;
  width: 29%;
  height: 200px;
  padding: 1em;
  border: 1px solid #969696;
}
/* line 77, ../sass/badgeland_demo.scss */
#block-achievements-achievements-leaderboard h2,
#block-user-online h2,
#block-comment-recent h2 {
  margin-top: 0;
}
/* line 82, ../sass/badgeland_demo.scss */
#block-achievements-achievements-leaderboard .content .item-list ul,
#block-user-online .content .item-list ul,
#block-comment-recent .content .item-list ul {
  list-style-type: none;
  padding: 0 0 0.25em 1em;
  margin: 0;
}

/* line 91, ../sass/badgeland_demo.scss */
#block-block-2 {
  border: solid 1px #969696;
  padding: 0 1em;
}

/* line 98, ../sass/badgeland_demo.scss */
#block-views-exp-resource-library-page .views-widget-filter-uid input, #block-views-exp-resource-library-page .views-widget-filter-created input {
  width: 12em;
}

/* line 106, ../sass/badgeland_demo.scss */
#block-block-3 .content a {
  background: #e7e7e7;
  padding: 0.5em 0.7em;
  margin: 1.5em auto;
  display: inline-block;
}

/* line 115, ../sass/badgeland_demo.scss */
#block-userpoints-meter-1 {
  background: url("../images/gamification-badge-150.png") no-repeat center top;
  padding-top: 160px;
}

/* line 120, ../sass/badgeland_demo.scss */
.content ul.quest-list {
  list-style-type: none;
}
/* line 123, ../sass/badgeland_demo.scss */
.content ul.quest-list li a {
  text-decoration: none;
  font-family: "Helvetic Neue";
  font-size: 1.5em;
  padding: .2em 0 .2em 1.5em;
  background: url("../images/flag-green.png") no-repeat 0 0;
}
